# BUILD MODEL WITH DECISION TREE REGRESSOR TO UNDERSTAND OVERFITTING

### LOAD LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### LOAD DATA FROM ADMISSION.CSV

In [2]:
df = pd.read_csv("admission.csv")

In [3]:
df

     Sno  Gre  Toefl  Rating  Sop  Lor  Cgpa  Research  Chance
0      1  337    118       4  4.5  4.5  9.65         1    0.92
1      2  324    107       4  4.0  4.5  8.87         1    0.76
2      3  316    104       3  3.0  3.5  8.00         1    0.72
3      4  322    110       3  3.5  2.5  8.67         1    0.80
4      5  314    103       2  2.0  3.0  8.21         0    0.65
..   ...  ...    ...     ...  ...  ...   ...       ...     ...
495  496  332    108       5  4.5  4.0  9.02         1    0.87
496  497  337    117       5  5.0  5.0  9.87         1    0.96
497  498  330    120       5  4.5  5.0  9.56         1    0.93
498  499  312    103       4  4.0  5.0  8.43         0    0.73
499  500  327    113       4  4.5  4.5  9.04         0    0.84

[500 rows x 9 columns]

In [4]:
# DROP SNO AS IT IS NOT IMPORTANT
df.drop(columns = ["Sno"], inplace = True)

In [5]:
df

     Gre  Toefl  Rating  Sop  Lor  Cgpa  Research  Chance
0    337    118       4  4.5  4.5  9.65         1    0.92
1    324    107       4  4.0  4.5  8.87         1    0.76
2    316    104       3  3.0  3.5  8.00         1    0.72
3    322    110       3  3.5  2.5  8.67         1    0.80
4    314    103       2  2.0  3.0  8.21         0    0.65
..   ...    ...     ...  ...  ...   ...       ...     ...
495  332    108       5  4.5  4.0  9.02         1    0.87
496  337    117       5  5.0  5.0  9.87         1    0.96
497  330    120       5  4.5  5.0  9.56         1    0.93
498  312    103       4  4.0  5.0  8.43         0    0.73
499  327    113       4  4.5  4.5  9.04         0    0.84

[500 rows x 8 columns]

# BUILD MACHINE LEARNING MODEL

In [6]:
X = df[["Gre", "Toefl", "Cgpa"]]
y = df["Chance"]  * 100

In [7]:
from sklearn.model_selection import train_test_split

In [9]:
# SPLIT DATA INTO TRAIN AND TEST
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# DECISIONTREEREGRESSOR

In [11]:
from sklearn.tree import DecisionTreeRegressor
dt_model = DecisionTreeRegressor()
dt_model.fit(X_train, y_train)

DecisionTreeRegressor()

In [12]:
# OVERFITTING
dt_model.score(X_train, y_train)

0.9980730614107964

In [14]:
y_pred = dt_model.predict(X_test)

In [15]:
dt_model.score(X_test, y_test)

0.5396298257919523

In [18]:
from sklearn.metrics import r2_score
score1 = r2_score(y_test, y_pred)
print(f"R2 Score : {score1:0.2f}")

R2 Score : 0.54

In [19]:
from sklearn.metrics import r2_score
score = r2_score(y_test,y_pred)
print(f"R2 Score: {score:0.2f}")

R2 Score: 0.54

In [24]:
from sklearn.metrics import r2_score
score = r2_score(y_test, y_pred)
print(f"R2 Score: {score:0.2f}")

R2 Score: 0.54