In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df =  pd.DataFrame( [('Awesome food','p'),
                     ('Pathatic service. Not worth at all.','n'),
                     ('Very good service. Fantanstic Gym','p'),
                     ('I like everything about it','p'),
                     ('Bad room service. Costly food. Unfriendly staff.','n'),
                     ('Untidy room. Bad room service.','n'),
                     ('Worst food. Unfriendly staff.','n'),
                    ])

In [3]:
df.columns = ("review", "type")

In [4]:
df

                                             review type
0                                      Awesome food    p
1               Pathatic service. Not worth at all.    n
2                 Very good service. Fantanstic Gym    p
3                        I like everything about it    p
4  Bad room service. Costly food. Unfriendly staff.    n
5                    Untidy room. Bad room service.    n
6                     Worst food. Unfriendly staff.    n

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.linear_model import LogisticRegression