In [1]:
import pandas as pd
import requests
import warnings

In [2]:
warnings.filterwarnings("ignore")

In [4]:
resp = requests.get("https://restcountries.com/v2/all",verify = False).json() # List of dict

In [5]:
df = pd.DataFrame(resp)  # Dataframe from list[dict]

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 26 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   name            250 non-null    object
 1   topLevelDomain  250 non-null    object
 2   alpha2Code      250 non-null    object
 3   alpha3Code      250 non-null    object
 4   callingCodes    250 non-null    object
 5   capital         245 non-null    object
 6   altSpellings    249 non-null    object
 7   subregion       250 non-null    object
 8   region          250 non-null    object
 9   population      250 non-null    int64
 10  latlng          249 non-null    object
 11  demonym         250 non-null    object
 12  area            240 non-null    float64
 13  timezones       250 non-null    object
 14  borders         165 non-null    object
 15  nativeName      250 non-null    object
 16  numericCode     250 non-null    object
 17  flags           250 non-null    object
 18  currencies      249 non-null    object
 19  languages       250 non-null    object
 20  translations    250 non-null    object
 21  flag            250 non-null    object
 22  regionalBlocs   173 non-null    object
 23  cioc            205 non-null    object
 24  independent     250 non-null    bool
 25  gini            167 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(22)
memory usage: 49.2+ KB

In [8]:
df.sample(5)

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
0,Afghanistan,[.af],AF,AFG,[93],Kabul,"[AF, Afġānistān]",Southern Asia,Asia,40218234,...,004,{'svg': 'https://upload.wikimedia.org/wikipedi...,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...","[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...","{'br': 'Afghanistan', 'pt': 'Afeganistão', 'nl...",https://upload.wikimedia.org/wikipedia/commons...,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",AFG,True,NaN
243,Venezuela (Bolivarian Republic of),[.ve],VE,VEN,[58],Caracas,"[VE, Bolivarian Republic of Venezuela, Repúbli...",South America,Americas,28435943,...,862,"{'svg': 'https://flagcdn.com/ve.svg', 'png': '...","[{'code': 'VEF', 'name': 'Venezuelan bolívar',...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'br': 'Venezuela', 'pt': 'Venezuela', 'nl': '...",https://flagcdn.com/ve.svg,"[{'acronym': 'USAN', 'name': 'Union of South A...",VEN,True,44.8
229,Trinidad and Tobago,[.tt],TT,TTO,[1],Port of Spain,"[TT, Republic of Trinidad and Tobago]",Caribbean,Americas,1399491,...,780,"{'svg': 'https://flagcdn.com/tt.svg', 'png': '...","[{'code': 'TTD', 'name': 'Trinidad and Tobago ...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Trinidad ha Tobago', 'pt': 'Trindade e...",https://flagcdn.com/tt.svg,"[{'acronym': 'CARICOM', 'name': 'Caribbean Com...",TTO,True,40.3
163,Niue,[.nu],NU,NIU,[683],Alofi,[NU],Polynesia,Oceania,1470,...,570,"{'svg': 'https://flagcdn.com/nu.svg', 'png': '...","[{'code': 'NZD', 'name': 'New Zealand dollar',...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Niue', 'pt': 'Niue', 'nl': 'Niue', 'hr...",https://flagcdn.com/nu.svg,NaN,NaN,True,NaN
237,United Arab Emirates,[.ae],AE,ARE,[971],Abu Dhabi,"[AE, UAE]",Western Asia,Asia,9890400,...,784,"{'svg': 'https://flagcdn.com/ae.svg', 'png': '...","[{'code': 'AED', 'name': 'United Arab Emirates...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Emirelezhioù Arab Unanet', 'pt': 'Emir...",https://flagcdn.com/ae.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",UAE,True,26.0

In [10]:
df.nlargest(10,"population")[["name","population","area","region"]]

                         name  population        area    region
48                      China  1402112000   9640011.0      Asia
104                     India  1380004385   3287590.0      Asia
239  United States of America   329484123   9629091.0  Americas
105                 Indonesia   273523621   1904569.0      Asia
169                  Pakistan   220892331    881912.0      Asia
31                     Brazil   212559409   8515767.0  Americas
162                   Nigeria   206139587    923768.0    Africa
18                 Bangladesh   164689383    147570.0      Asia
185        Russian Federation   144104080  17124442.0    Europe
144                    Mexico   128932753   1964375.0  Americas

In [15]:
df.sort_values("population", ascending = False).iloc[:10]

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
48,China,[.cn],CN,CHN,[86],Beijing,"[CN, Zhōngguó, Zhongguo, Zhonghua, People's Re...",Eastern Asia,Asia,1402112000,...,156,"{'svg': 'https://flagcdn.com/cn.svg', 'png': '...","[{'code': 'CNY', 'name': 'Chinese yuan', 'symb...","[{'iso639_1': 'zh', 'iso639_2': 'zho', 'name':...","{'br': 'Sina', 'pt': 'China', 'nl': 'China', '...",https://flagcdn.com/cn.svg,NaN,CHN,True,38.5
104,India,[.in],IN,IND,[91],New Delhi,"[IN, Bhārat, Republic of India, Bharat Ganrajya]",Southern Asia,Asia,1380004385,...,356,"{'svg': 'https://flagcdn.com/in.svg', 'png': '...","[{'code': 'INR', 'name': 'Indian rupee', 'symb...","[{'iso639_1': 'hi', 'iso639_2': 'hin', 'name':...","{'br': 'India', 'pt': 'Índia', 'nl': 'India', ...",https://flagcdn.com/in.svg,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",IND,True,35.7
239,United States of America,[.us],US,USA,[1],"Washington, D.C.","[US, USA, United States of America]",Northern America,Americas,329484123,...,840,"{'svg': 'https://flagcdn.com/us.svg', 'png': '...","[{'code': 'USD', 'name': 'United States dollar...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Stadoù-Unanet', 'pt': 'Estados Unidos'...",https://flagcdn.com/us.svg,"[{'acronym': 'NAFTA', 'name': 'North American ...",USA,True,41.4
105,Indonesia,[.id],ID,IDN,[62],Jakarta,"[ID, Republic of Indonesia, Republik Indonesia]",South-Eastern Asia,Asia,273523621,...,360,"{'svg': 'https://flagcdn.com/id.svg', 'png': '...","[{'code': 'IDR', 'name': 'Indonesian rupiah', ...","[{'iso639_1': 'id', 'iso639_2': 'ind', 'name':...","{'br': 'Indonezia', 'pt': 'Indonésia', 'nl': '...",https://flagcdn.com/id.svg,"[{'acronym': 'ASEAN', 'name': 'Association of ...",INA,True,38.2
169,Pakistan,[.pk],PK,PAK,[92],Islamabad,"[PK, Pākistān, Islamic Republic of Pakistan, I...",Southern Asia,Asia,220892331,...,586,"{'svg': 'https://flagcdn.com/pk.svg', 'png': '...","[{'code': 'PKR', 'name': 'Pakistani rupee', 's...","[{'iso639_1': 'ur', 'iso639_2': 'urd', 'name':...","{'br': 'Pakistan', 'pt': 'Paquistão', 'nl': 'P...",https://flagcdn.com/pk.svg,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",PAK,True,31.6
31,Brazil,[.br],BR,BRA,[55],Brasília,"[BR, Brasil, Federative Republic of Brazil, Re...",South America,Americas,212559409,...,076,"{'svg': 'https://flagcdn.com/br.svg', 'png': '...","[{'code': 'BRL', 'name': 'Brazilian real', 'sy...","[{'iso639_1': 'pt', 'iso639_2': 'por', 'name':...","{'br': 'Brazil', 'pt': 'Brasil', 'nl': 'Brazil...",https://flagcdn.com/br.svg,"[{'acronym': 'USAN', 'name': 'Union of South A...",BRA,True,53.4
162,Nigeria,[.ng],NG,NGA,[234],Abuja,"[NG, Nijeriya, Naíjíríà, Federal Republic of N...",Western Africa,Africa,206139587,...,566,"{'svg': 'https://flagcdn.com/ng.svg', 'png': '...","[{'code': 'NGN', 'name': 'Nigerian naira', 'sy...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Nigeria', 'pt': 'Nigéria', 'nl': 'Nige...",https://flagcdn.com/ng.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",NGR,True,35.1
18,Bangladesh,[.bd],BD,BGD,[880],Dhaka,"[BD, People's Republic of Bangladesh, Gônôprôj...",Southern Asia,Asia,164689383,...,050,"{'svg': 'https://flagcdn.com/bd.svg', 'png': '...","[{'code': 'BDT', 'name': 'Bangladeshi taka', '...","[{'iso639_1': 'bn', 'iso639_2': 'ben', 'name':...","{'br': 'Bangladesh', 'pt': 'Bangladeche', 'nl'...",https://flagcdn.com/bd.svg,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",BAN,True,32.4
185,Russian Federation,[.ru],RU,RUS,[7],Moscow,"[RU, Rossiya, Russian Federation, Российская Ф...",Eastern Europe,Europe,144104080,...,643,"{'svg': 'https://flagcdn.com/ru.svg', 'png': '...","[{'code': 'RUB', 'name': 'Russian ruble', 'sym...","[{'iso639_1': 'ru', 'iso639_2': 'rus', 'name':...","{'br': 'Rusia', 'pt': 'Rússia', 'nl': 'Rusland...",https://flagcdn.com/ru.svg,"[{'acronym': 'EEU', 'name': 'Eurasian Economic...",RUS,True,37.5
144,Mexico,[.mx],MX,MEX,[52],Mexico City,"[MX, Mexicanos, United Mexican States, Estados...",North America,Americas,128932753,...,484,"{'svg': 'https://flagcdn.com/mx.svg', 'png': '...","[{'code': 'MXN', 'name': 'Mexican peso', 'symb...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'br': 'Mec'hiko', 'pt': 'México', 'nl': 'Mexi...",https://flagcdn.com/mx.svg,"[{'acronym': 'PA', 'name': 'Pacific Alliance',...",MEX,True,45.4

In [16]:
df.shape

(250, 26)

In [17]:
df.groupby("region")["name"].count()

region
Africa             60
Americas           57
Antarctic           1
Antarctic Ocean     1
Asia               50
Europe             53
Oceania            27
Polar               1
Name: name, dtype: int64

In [29]:
df.groupby("region")["population"].sum()

region
Africa             1343061213
Americas           1020973033
Antarctic                   0
Antarctic Ocean             0
Asia               4604576074
Europe              747707351
Oceania              43119438
Polar                    1000
Name: population, dtype: int64

In [30]:
df.groupby("region")["area"].sum()

region
Africa             30323497.00
Americas           42248044.36
Antarctic               412.00
Antarctic Ocean          49.00
Asia               32064971.00
Europe             23138282.46
Oceania             8515313.00
Polar              14000000.00
Name: area, dtype: float64

In [32]:
for n in df.name:
    if n.startswith("I"):
        print(n)

Iceland
India
Indonesia
Ivory Coast
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy

In [33]:
df.loc[df.name.apply(lambda v : v.startswith("I")),["name","capital"]]

                           name       capital
103                     Iceland     Reykjavík
104                       India     New Delhi
105                   Indonesia       Jakarta
106                 Ivory Coast  Yamoussoukro
107  Iran (Islamic Republic of)        Tehran
108                        Iraq       Baghdad
109                     Ireland        Dublin
110                 Isle of Man       Douglas
111                      Israel     Jerusalem
112                       Italy          Rome

In [35]:
df.loc[df["area"].isnull(),["name","region"]]

                                             name    region
33           United States Minor Outlying Islands  Americas
78                                  French Guiana  Americas
90                                     Guadeloupe  Americas
140                                    Martinique  Americas
143                                       Mayotte    Africa
171                           Palestine, State of      Asia
183                                       Réunion    Africa
188  Saint Helena, Ascension and Tristan da Cunha    Africa
209  South Georgia and the South Sandwich Islands  Americas
216                        Svalbard and Jan Mayen    Europe

In [38]:
df[df.name.str.len() < 5].sample()

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
168,Oman,[.om],OM,OMN,[968],Muscat,"[OM, Sultanate of Oman, Salṭanat ʻUmān]",Western Asia,Asia,5106622,...,512,"{'svg': 'https://flagcdn.com/om.svg', 'png': '...","[{'code': 'OMR', 'name': 'Omani rial', 'symbol...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Oman', 'pt': 'Omã', 'nl': 'Oman', 'hr'...",https://flagcdn.com/om.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",OMA,True,NaN

In [42]:
df.currencies

0      [{'code': 'AFN', 'name': 'Afghan afghani', 'sy...
1       [{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]
2      [{'code': 'ALL', 'name': 'Albanian lek', 'symb...
3      [{'code': 'DZD', 'name': 'Algerian dinar', 'sy...
4      [{'code': 'USD', 'name': 'United States Dollar...
                             ...
245    [{'code': 'XPF', 'name': 'CFP franc', 'symbol'...
246    [{'code': 'MAD', 'name': 'Moroccan dirham', 's...
247    [{'code': 'YER', 'name': 'Yemeni rial', 'symbo...
248    [{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...
249    [{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...
Name: currencies, Length: 250, dtype: object