In [1]:
import statistics as s
import numpy as np
import random
import scipy.stats as ss

# STATISTICS

### MEAN, MEDIAN, MODE

In [4]:
import statistics as s
salaries = [4, 5, 4, 6, 15, 20]
s.mean(salaries)

9

In [4]:
s.median(salaries)

5.5

In [5]:
s.mode(salaries)

4

In [6]:
s.multimode([3, 4, 5, 4, 5, 40])

[4, 5]

In [7]:
s.mode(salaries), s.multimode([3, 4, 5, 4, 5, 10])

(4, [4, 5])

# RANDOM NUMBERS

In [9]:
import random
ages = []
for i in range(1, 100):
    ages.append(random.randint(1, 100))

In [11]:
print(ages)

[28, 2, 85, 96, 18, 35, 56, 4, 62, 76, 23, 76, 36, 86, 94, 9, 91, 94, 27, 41, 69, 16, 39, 22, 71, 75, 66, 71, 13, 74, 37, 67, 98, 15, 19, 80, 62, 53, 9, 82, 51, 35, 40, 77, 79, 32, 71, 69, 58, 91, 25, 4, 89, 90, 34, 37, 49, 1, 94, 69, 1, 32, 66, 56, 42, 46, 63, 54, 78, 59, 54, 51, 49, 85, 48, 14, 26, 10, 24, 9, 26, 84, 12, 30, 4, 87, 88, 70, 12, 51, 17, 57, 39, 78, 92, 74, 2, 4, 34]

# VARIANCE AND STANDARD DEVIATION

In [51]:
import statistics as s
marks = [70,77,65,55,45,88,76,66,65,72]
print( f"Variance = {s.variance(marks):5.3f}, " +
f"Std. Deviation = {s.stdev(marks):5.3f}")

Variance = 142.767, Std. Deviation = 11.949

In [52]:
s.mode(marks)

65

In [53]:
s.multimode(marks)

[65]

In [54]:
s.median_low(marks)

66

In [55]:
s.median_high(marks)

70

In [56]:
s.median(marks)

68.0

In [57]:
s.mean(marks)

67.9

# INTER QUARTILE RANGE

In [60]:
import scipy.stats as ss
marks = [5, 10, 15, 20]
ss.iqr(marks)

7.5

In [12]:
import scipy.stats as ss
marks = [70,77,65,55,45,88,76,66,65,72]
ss.iqr(marks)

10.0

In [14]:
import scipy.stats as ss
marks = [20, 21, 22, 22, 23, 24, 27, 30, 31, 40]
ss.iqr(marks)

7.25

# PERCENTILE

In [15]:
import numpy as np

In [16]:
np.percentile(marks,22)

21.98

In [17]:
np.percentile(marks,31)

22.0

In [18]:
import numpy as np
ages = [24, 36, 37, 25, 32, 19, 40, 42, 23]
np.percentile(ages, 19)

23.52

In [19]:
np.percentile(ages, 24)

23.92

In [20]:
np.percentile(ages, 42)

27.52

In [21]:
import statistics as s
import scipy.stats as ss
marks = [70,77,65,55,45,88,76,66,65,72]
ss.iqr(marks)

10.0

In [30]:
ss.iqr(marks)

10.0

In [31]:
import statistics as s
marks = [70,77,65,55,45,88,76,66,65,72]
s.median(marks)

68.0

In [32]:
import statistics as s
marks = [45, 55, 65, 65, 66]
s.median(marks)

65

In [34]:
import statistics as s
marks = [70, 72, 76, 77, 88]
s.median(marks)

76

# CALCULATING QUARTILES

In [35]:
65 - 1.5 * 10

50.0

In [36]:
65 + 1.5 * 10

80.0

# CORRELATIONS

In [5]:
import scipy.stats as ss
import statistics as stats
import pandas as pd
import seaborn as sb

# Load data from salary.csv

In [81]:
data = pd.read_csv("Salary.csv")
salaries = data['salary']
years = data['exp']

In [85]:
data.head()

  exp\tsalary
0  1.1\t39343
1  1.3\t46205
2  1.5\t37731
3    2\t43525
4  2.2\t39891

In [90]:
stats.mean(salaries)

TypeError: can't convert type 'str' to numerator/denominator