In [6]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib
%matplotlib inline

In [7]:
df = pd.read_csv("C:\\Users\\nagal\\OneDrive\\Desktop\\DS_18_JULY_2022-master\\pandas\\books.csv")

In [8]:
df

                      title author  price  nopages
0  Python for Data Analysis    Wes    560      780

In [9]:
df.to_csv("books.csv")

In [10]:
pd.read_csv("books.csv")

   Unnamed: 0                     title author  price  nopages
0           0  Python for Data Analysis    Wes    560      780

In [11]:
df

                      title author  price  nopages
0  Python for Data Analysis    Wes    560      780