In [1]:
import pandas as pd
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")

In [3]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    category
 3   smoker      244 non-null    category
 4   day         244 non-null    category
 5   time        244 non-null    category
 6   size        244 non-null    int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.4 KB

In [4]:
tips.sample(5)

     total_bill   tip     sex smoker   day    time  size
38        18.69  2.31    Male     No   Sat  Dinner     3
125       29.80  4.20  Female     No  Thur   Lunch     6
193       15.48  2.02    Male    Yes  Thur   Lunch     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
240       27.18  2.00  Female    Yes   Sat  Dinner     2

In [5]:
tips.nlargest(5, "tip")

     total_bill    tip   sex smoker   day    time  size
170       50.81  10.00  Male    Yes   Sat  Dinner     3
212       48.33   9.00  Male     No   Sat  Dinner     4
23        39.42   7.58  Male     No   Sat  Dinner     4
59        48.27   6.73  Male     No   Sat  Dinner     4
141       34.30   6.70  Male     No  Thur   Lunch     6

In [6]:
(tips.tip / tips.total_bill)

0      0.059447
1      0.160542
2      0.166587
3      0.139780
4      0.146808
         ...
239    0.203927
240    0.073584
241    0.088222
242    0.098204
243    0.159744
Length: 244, dtype: float64

In [7]:
(tips.tip / tips.total_bill).mean()

0.16080258172250478

In [8]:
(tips.tip / tips.total_bill).sort_values(ascending = False)

172    0.710345
178    0.416667
67     0.325733
232    0.291990
183    0.280535
         ...
187    0.065660
0      0.059447
57     0.056797
102    0.056433
237    0.035638
Length: 244, dtype: float64

In [9]:
(tips.tip / tips.total_bill).sort_values(ascending = False).head()

172    0.710345
178    0.416667
67     0.325733
232    0.291990
183    0.280535
dtype: float64

In [11]:
tips.shape

(244, 7)

In [12]:
tips["total_bill"].sum()

4827.77

In [13]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')